@using System.Globalization
@{
    @model List<Proudct>


}
@if (Model == null || !Model.Any())
{
    <p>No products available.</p>
}
else
{   
    <div class="container">
        <div class="row">
            @foreach (Proudct item in Model)
            {
                <div class="col-md-4 mb-4">
                    <!-- Each product will take 4 out of 12 columns (so 3 products per row) -->
                    <div class="card" style="width: 18rem;">
                        <div class="image-container">
                            <img src="/Images/@item.ImageUrl" class="card-img-top" alt="Product Image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5> <!-- Display product name -->
                            <p class="card-text">Price: @item.Price.ToString("C", new CultureInfo("en-EG"))</p> <!-- English numerals with EGP -->

                            <p class="card-text">@item.Description</p>
                            <p class="card-text">@item.Stockquantity</p>
                            <!-- Display Category Name -->
                            @foreach (Category cat in ViewBag.catogeryNames)
                            {
                                @if (item.CategoryId == cat.Id)
                                {
                                    <p class="card-text">Categoty:@cat.CatogeryName</p> <!-- Display category name -->
                                }
                            }
                            <form asp-action="UpdateProudct" asp-controller="Proudct" method="get" asp-route-id="@item.Id" style="display:inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    Update
                                </button>
                            </form>

                            
                            <form asp-action="DeleteProudct" asp-controller="Proudct" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    Delete
                                </button>
                            </form>





                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
