@using System.Globalization;
@using System.Security.Claims
@{
    @model List<Proudct>
   

 }
@if (Model == null || !Model.Any())
{
    <p>No products available.</p>
}
else
{
    <div id="alert-message" class="alert alert-success" style="display: none;"></div>
    


    <div class="container">
        <div class="row">
            @foreach (Proudct item in Model)
            {
                <div class="col-md-4 mb-4">
                
                    <!-- Each product will take 4 out of 12 columns (so 3 products per row) -->
                        <div class="card col-md-2" style="width: 18rem;">
                        <div class="image-container">
                             <img src="/Images/@item.ImageUrl" class="card-img-top" alt="Product Image">
                         </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5> <!-- Display product name -->
                            <p class="card-text">Price: @item.Price.ToString("C", new CultureInfo("en-EG"))</p> <!-- English numerals with EGP -->

                            <p class="card-text">@item.Description</p>
                            <p class="card-text">@item.Stockquantity</p>
                            <!-- Display Category Name -->
                            @foreach (Category cat in ViewBag.catogeryNames)
                            {
                                @if (item.CategoryId == cat.Id)
                                {
                                    <p class="card-text">Categoty:@cat.CatogeryName</p> <!-- Display category name -->
                                }
                            }
                            <a asp-action="proudctoncatogory" asp-controller="Proudct" asp-route-id="@item.CategoryId">Category</a>
                          
                          
                                <button type="button" class="btn btn-default btn-sm" onclick="addToCart(@item.Id, 1)">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> <b>Add to Cart</b>
                                 </button>
                               
                          
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
<script>

    

    function addToCart(id, Quantity) {
        $.ajax({
            url: '@Url.Action("AddToCart", "CartMangmet")',
            type: 'POST',
            data: { id: id, Quantity: Quantity },
            success: function (response) {
                if (response.success) {
                    showAlert(response.message);
                    $('#cart-count').text(response.cartcount);
                }
            }
        });
    }

    function showAlert(message) {

        $('#alert-message').text(message)  // Set the alert message text
            .fadeIn()      // Fade in the alert
            .delay(3000)   // Wait for 1 seconds (1000 ms)
            .fadeOut();




    }

</script>

